/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

/* nudj custom colors */

.b--royal-blue {            border-color:var(--royal-blue); }
.b--royal-blue-shade-1 {    border-color:var(--royal-blue-shade-1); }
.b--royal-blue-shade-2 {    border-color:var(--royal-blue-shade-2); }
.b--royal-blue-shade-3 {    border-color:var(--royal-blue-shade-3); }
.b--royal-blue-shade-4 {    border-color:var(--royal-blue-share-4); }
.b--royal-blue-tint-1 {    border-color:var(--royal-blue-tint-1); }
.b--royal-blue-tint-2 {    border-color:var(--royal-blue-tint-2); }
.b--royal-blue-tint-3 {    border-color:var(--royal-blue-tint-3); }
.b--royal-blue-tint-4 {    border-color:var(--royal-blue-tint-4); }

.b--mid-red {            border-color:var(--mid-red); }
.b--mid-red-shade-1 {    border-color:var(--mid-red-shade-1); }
.b--mid-red-shade-2 {    border-color:var(--mid-red-shade-2); }
.b--mid-red-shade-3 {    border-color:var(--mid-red-shade-3); }
.b--mid-red-shade-4 {    border-color:var(--mid-red-share-4); }
.b--mid-red-tint-1 {    border-color:var(--mid-red-tint-1); }
.b--mid-red-tint-2 {    border-color:var(--mid-red-tint-2); }
.b--mid-red-tint-3 {    border-color:var(--mid-red-tint-3); }
.b--mid-red-tint-4 {    border-color:var(--mid-red-tint-4); }

.b--light-yellow {            border-color:var(--light-yellow); }
.b--light-yellow-shade-1 {    border-color:var(--light-yellow-shade-1); }
.b--light-yellow-shade-2 {    border-color:var(--light-yellow-shade-2); }
.b--light-yellow-shade-3 {    border-color:var(--light-yellow-shade-3); }
.b--light-yellow-shade-4 {    border-color:var(--light-yellow-share-4); }
.b--light-yellow-tint-1 {    border-color:var(--light-yellow-tint-1); }
.b--light-yellow-tint-2 {    border-color:var(--light-yellow-tint-2); }
.b--light-yellow-tint-3 {    border-color:var(--light-yellow-tint-3); }
.b--light-yellow-tint-4 {    border-color:var(--light-yellow-tint-4); }

.b--dark-pink {            border-color:var(--dark-pink); }
.b--dark-pink-shade-1 {    border-color:var(--dark-pink-shade-1); }
.b--dark-pink-shade-2 {    border-color:var(--dark-pink-shade-2); }
.b--dark-pink-shade-3 {    border-color:var(--dark-pink-shade-3); }
.b--dark-pink-shade-4 {    border-color:var(--dark-pink-share-4); }
.b--dark-pink-tint-1 {    border-color:var(--dark-pink-tint-1); }
.b--dark-pink-tint-2 {    border-color:var(--dark-pink-tint-2); }
.b--dark-pink-tint-3 {    border-color:var(--dark-pink-tint-3); }
.b--dark-pink-tint-4 {    border-color:var(--dark-pink-tint-4); }

.b--light-grey {            border-color:var(--light-grey); }
.b--light-grey-shade-1 {    border-color:var(--light-grey-shade-1); }
.b--light-grey-shade-2 {    border-color:var(--light-grey-shade-2); }
.b--light-grey-shade-3 {    border-color:var(--light-grey-shade-3); }
.b--light-grey-shade-4 {    border-color:var(--light-grey-share-4); }
.b--light-grey-tint-1 {    border-color:var(--light-grey-tint-1); }
.b--light-grey-tint-2 {    border-color:var(--light-grey-tint-2); }
.b--light-grey-tint-3 {    border-color:var(--light-grey-tint-3); }
.b--light-grey-tint-4 {    border-color:var(--light-grey-tint-4); }

.b--beige {            border-color:var(--beige); }
.b--beige-shade-1 {    border-color:var(--beige-shade-1); }
.b--beige-shade-2 {    border-color:var(--beige-shade-2); }
.b--beige-shade-3 {    border-color:var(--beige-shade-3); }
.b--beige-shade-4 {    border-color:var(--beige-share-4); }
.b--beige-tint-1 {    border-color:var(--beige-tint-1); }
.b--beige-tint-2 {    border-color:var(--beige-tint-2); }
.b--beige-tint-3 {    border-color:var(--beige-tint-3); }
.b--beige-tint-4 {    border-color:var(--beige-tint-4); }

.b--navy {            border-color:var(--navy); }
.b--navy-shade-1 {    border-color:var(--navy-shade-1); }
.b--navy-shade-2 {    border-color:var(--navy-shade-2); }
.b--navy-shade-3 {    border-color:var(--navy-shade-3); }
.b--navy-shade-4 {    border-color:var(--navy-share-4); }
.b--navy-tint-1 {    border-color:var(--navy-tint-1); }
.b--navy-tint-2 {    border-color:var(--navy-tint-2); }
.b--navy-tint-3 {    border-color:var(--navy-tint-3); }
.b--navy-tint-4 {    border-color:var(--navy-tint-4); }

.b--charcoal {            border-color:var(--charcoal); }
.b--charcoal-shade-1 {    border-color:var(--charcoal-shade-1); }
.b--charcoal-shade-2 {    border-color:var(--charcoal-shade-2); }
.b--charcoal-shade-3 {    border-color:var(--charcoal-shade-3); }
.b--charcoal-shade-4 {    border-color:var(--charcoal-share-4); }
.b--charcoal-tint-1 {    border-color:var(--charcoal-tint-1); }
.b--charcoal-tint-2 {    border-color:var(--charcoal-tint-2); }
.b--charcoal-tint-3 {    border-color:var(--charcoal-tint-3); }
.b--charcoal-tint-4 {    border-color:var(--charcoal-tint-4); }

/* Tachyons original tones */

.b--black {        border-color: var(--black); }
.b--near-black {   border-color: var(--near-black); }
.b--dark-gray {    border-color: var(--dark-gray); }
.b--mid-gray {     border-color: var(--mid-gray); }
.b--gray {         border-color: var(--gray); }
.b--silver {       border-color: var(--silver); }
.b--light-silver { border-color: var(--light-silver); }
.b--moon-gray {    border-color: var(--moon-gray); }
.b--light-gray {   border-color: var(--light-gray); }
.b--near-white {   border-color: var(--near-white); }
.b--white {        border-color: var(--white); }

.b--white-90 {   border-color: var(--white-90); }
.b--white-80 {   border-color: var(--white-80); }
.b--white-70 {   border-color: var(--white-70); }
.b--white-60 {   border-color: var(--white-60); }
.b--white-50 {   border-color: var(--white-50); }
.b--white-40 {   border-color: var(--white-40); }
.b--white-30 {   border-color: var(--white-30); }
.b--white-20 {   border-color: var(--white-20); }
.b--white-10 {   border-color: var(--white-10); }
.b--white-05 {   border-color: var(--white-05); }
.b--white-025 {   border-color: var(--white-025); }
.b--white-0125 {   border-color: var(--white-0125); }

.b--black-90 {   border-color: var(--black-90); }
.b--black-80 {   border-color: var(--black-80); }
.b--black-70 {   border-color: var(--black-70); }
.b--black-60 {   border-color: var(--black-60); }
.b--black-50 {   border-color: var(--black-50); }
.b--black-40 {   border-color: var(--black-40); }
.b--black-30 {   border-color: var(--black-30); }
.b--black-20 {   border-color: var(--black-20); }
.b--black-10 {   border-color: var(--black-10); }
.b--black-05 {   border-color: var(--black-05); }
.b--black-025 {   border-color: var(--black-025); }
.b--black-0125 {   border-color: var(--black-0125); }

.b--transparent { border-color: var(--transparent); }
.b--inherit { border-color: inherit; }
