/*

   NUDJ FONT
   See: http://f37foundry.com/font-library/f37-jan

*/

@font-face {
  font-family: 'F37 Jan Bold';
  src: url('/assets/fonts/F37Jan-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   bold;
  font-weight:  700;
}

@font-face {
  font-family: 'F37 Jan Bold Italic';
  src: url('/assets/fonts/F37Jan-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'F37 Jan Light';
  src: url('/assets/fonts/F37Jan-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-Light.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Light.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Light.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'F37 Jan Light Italic';
  src: url('/assets/fonts/F37Jan-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-LightItalic.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-LightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'F37 Jan';
  src: url('/assets/fonts/F37Jan-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-Regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'F37 Jan Italic';
  src: url('/assets/fonts/F37Jan-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-RegularItalic.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-RegularItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'F37 Jan Thin';
  src: url('/assets/fonts/F37Jan-Thin.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-Thin.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Thin.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'F37 Jan Thin Italic';
  src: url('/assets/fonts/F37Jan-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/F37Jan-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/F37Jan-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
       url('/assets/fonts/F37Jan-ThinItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   italic;
  font-weight:  200;
}

/*

   TACHYONS FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

.jan-bold {
  font-family: 'F37 Jan Bold', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}
.jan-regular {
  font-family: 'F37 Jan', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}
.jan-light {
  font-family: 'F37 Jan Light', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}
.jan-thin {
  font-family: 'F37 Jan Thin', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}
.jan-bold-i {
  font-family: 'F37 Jan Bold Italic', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}
.jan-regular-i {
  font-family: 'F37 Jan Italic', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}
.jan-light-i {
  font-family: 'F37 Jan Light Italic', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}
.jan-thin-i {
  font-family: 'F37 Jan Thin Italic', -apple-system,
               BlinkMacSystemFont, helvetica,
               arial, sans-serif;
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.serif {
  font-family: georgia,
               times,
               serif;
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}


/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
code, .code {
  font-family: Consolas,
               monaco,
               monospace;
}

.courier {
  font-family: 'Courier Next',
               courier,
               monospace;
}


/* Sans-Serif Typefaces */
.jan {
  font-family: 'jan',
               sans-serif;
}

.helvetica {
  font-family: 'helvetica neue', helvetica,
               sans-serif;
}

.avenir {
  font-family: 'avenir next', avenir,
               sans-serif;
}


/* Serif Typefaces */

.athelas {
  font-family: athelas,
               georgia,
               serif;
}

.georgia {
  font-family: georgia,
               serif;
}

.times {
  font-family: times,
               serif;
}

.bodoni {
  font-family: "Bodoni MT",
                serif;
}

.calisto {
  font-family: "Calisto MT",
                serif;
}

.garamond {
  font-family: garamond,
               serif;
}

.baskerville {
  font-family: baskerville,
               serif;
}
