/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */

.hover-black:hover,
.hover-black:focus { color: var(--black); }
.hover-near-black:hover,
.hover-near-black:focus { color: var(--near-black); }
.hover-dark-gray:hover,
.hover-dark-gray:focus { color: var(--dark-gray); }
.hover-mid-gray:hover,
.hover-mid-gray:focus { color: var(--mid-gray); }
.hover-gray:hover,
.hover-gray:focus { color: var(--gray); }
.hover-silver:hover,
.hover-silver:focus { color: var(--silver); }
.hover-light-silver:hover,
.hover-light-silver:focus { color: var(--light-silver); }
.hover-moon-gray:hover,
.hover-moon-gray:focus { color: var(--moon-gray); }
.hover-light-gray:hover,
.hover-light-gray:focus { color: var(--light-gray); }
.hover-near-white:hover,
.hover-near-white:focus { color: var(--near-white); }
.hover-white:hover,
.hover-white:focus { color: var(--white); }

.hover-black-90:hover,
.hover-black-90:focus { color: var(--black-90); }
.hover-black-80:hover,
.hover-black-80:focus { color: var(--black-80); }
.hover-black-70:hover,
.hover-black-70:focus { color: var(--black-70); }
.hover-black-60:hover,
.hover-black-60:focus { color: var(--black-60); }
.hover-black-50:hover,
.hover-black-50:focus { color: var(--black-50); }
.hover-black-40:hover,
.hover-black-40:focus { color: var(--black-40); }
.hover-black-30:hover,
.hover-black-30:focus { color: var(--black-30); }
.hover-black-20:hover,
.hover-black-20:focus { color: var(--black-20); }
.hover-black-10:hover,
.hover-black-10:focus { color: var(--black-10); }
.hover-white-90:hover,
.hover-white-90:focus { color: var(--white-90); }
.hover-white-80:hover,
.hover-white-80:focus { color: var(--white-80); }
.hover-white-70:hover,
.hover-white-70:focus { color: var(--white-70); }
.hover-white-60:hover,
.hover-white-60:focus { color: var(--white-60); }
.hover-white-50:hover,
.hover-white-50:focus { color: var(--white-50); }
.hover-white-40:hover,
.hover-white-40:focus { color: var(--white-40); }
.hover-white-30:hover,
.hover-white-30:focus { color: var(--white-30); }
.hover-white-20:hover,
.hover-white-20:focus { color: var(--white-20); }
.hover-white-10:hover,
.hover-white-10:focus { color: var(--white-10); }
.hover-inherit:hover,
.hover-inherit:focus { color: inherit; }

.hover-bg-black:hover,
.hover-bg-black:focus { background-color: var(--black); }
.hover-bg-near-black:hover,
.hover-bg-near-black:focus { background-color: var(--near-black); }
.hover-bg-dark-gray:hover,
.hover-bg-dark-gray:focus { background-color: var(--dark-gray); }
.hover-bg-dark-gray:focus,
.hover-bg-mid-gray:hover { background-color: var(--mid-gray); }
.hover-bg-gray:hover,
.hover-bg-gray:focus { background-color: var(--gray); }
.hover-bg-silver:hover,
.hover-bg-silver:focus { background-color: var(--silver); }
.hover-bg-light-silver:hover,
.hover-bg-light-silver:focus { background-color: var(--light-silver); }
.hover-bg-moon-gray:hover,
.hover-bg-moon-gray:focus { background-color: var(--moon-gray); }
.hover-bg-light-gray:hover,
.hover-bg-light-gray:focus { background-color: var(--light-gray); }
.hover-bg-near-white:hover,
.hover-bg-near-white:focus { background-color: var(--near-white); }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: var(--white); }
.hover-bg-transparent:hover,
.hover-bg-transparent:focus { background-color: var(--transparent); }

.hover-bg-black-90:hover,
.hover-bg-black-90:focus { background-color: var(--black-90); }
.hover-bg-black-80:hover,
.hover-bg-black-80:focus { background-color: var(--black-80); }
.hover-bg-black-70:hover,
.hover-bg-black-70:focus { background-color: var(--black-70); }
.hover-bg-black-60:hover,
.hover-bg-black-60:focus { background-color: var(--black-60); }
.hover-bg-black-50:hover,
.hover-bg-black-50:focus { background-color: var(--black-50); }
.hover-bg-black-40:hover,
.hover-bg-black-40:focus { background-color: var(--black-40); }
.hover-bg-black-30:hover,
.hover-bg-black-30:focus { background-color: var(--black-30); }
.hover-bg-black-20:hover,
.hover-bg-black-20:focus { background-color: var(--black-20); }
.hover-bg-black-10:hover,
.hover-bg-black-10:focus { background-color: var(--black-10); }
.hover-bg-white-90:hover,
.hover-bg-white-90:focus { background-color: var(--white-90); }
.hover-bg-white-80:hover,
.hover-bg-white-80:focus { background-color: var(--white-80); }
.hover-bg-white-70:hover,
.hover-bg-white-70:focus { background-color: var(--white-70); }
.hover-bg-white-60:hover,
.hover-bg-white-60:focus { background-color: var(--white-60); }
.hover-bg-white-50:hover,
.hover-bg-white-50:focus { background-color: var(--white-50); }
.hover-bg-white-40:hover,
.hover-bg-white-40:focus { background-color: var(--white-40); }
.hover-bg-white-30:hover,
.hover-bg-white-30:focus { background-color: var(--white-30); }
.hover-bg-white-20:hover,
.hover-bg-white-20:focus { background-color: var(--white-20); }
.hover-bg-white-10:hover,
.hover-bg-white-10:focus { background-color: var(--white-10); }

/* nudj Custom Colours */
.hover-royal-blue:hover,
.hover-royal-blue:focus, { color: var(--royal-blue); }
.hover-royal-blue-shade-1:hover,
.hover-royal-blue-shade-1:focus, { color: var(--royal-blue-shade-1); }
.hover-royal-blue-shade-2:hover,
.hover-royal-blue-shade-2:focus, { color: var(--royal-blue-shade-2); }
.hover-royal-blue-shade-3:hover,
.hover-royal-blue-shade-3:focus, { color: var(--royal-blue-shade-3); }
.hover-royal-blue-shade-4:hover,
.hover-royal-blue-shade-4:focus, { color: var(--royal-blue-shade-4); }
.hover-royal-blue-tint-1:hover,
.hover-royal-blue-tint-1:focus, { color: var(--royal-blue-tint-1); }
.hover-royal-blue-tint-2:hover,
.hover-royal-blue-tint-2:focus, { color: var(--royal-blue-tint-2); }
.hover-royal-blue-tint-3:hover,
.hover-royal-blue-tint-3:focus, { color: var(--royal-blue-tint-3); }
.hover-royal-blue-tint-4:hover,
.hover-royal-blue-tint-4:focus, { color: var(--royal-blue-tint-4); }
.hover-mid-red:hover,
.hover-mid-red:focus, { color: var(--mid-red); }
.hover-mid-red-shade-1:hover,
.hover-mid-red-shade-1:focus, { color: var(--mid-red-shade-1); }
.hover-mid-red-shade-2:hover,
.hover-mid-red-shade-2:focus, { color: var(--mid-red-shade-2); }
.hover-mid-red-shade-3:hover,
.hover-mid-red-shade-3:focus, { color: var(--mid-red-shade-3); }
.hover-mid-red-shade-4:hover,
.hover-mid-red-shade-4:focus, { color: var(--mid-red-shade-4); }
.hover-mid-red-tint-1:hover,
.hover-mid-red-tint-1:focus, { color: var(--mid-red-tint-1); }
.hover-mid-red-tint-2:hover,
.hover-mid-red-tint-2:focus, { color: var(--mid-red-tint-2); }
.hover-mid-red-tint-3:hover,
.hover-mid-red-tint-3:focus, { color: var(--mid-red-tint-3); }
.hover-mid-red-tint-4:hover,
.hover-mid-red-tint-4:focus, { color: var(--mid-red-tint-4); }
.hover-light-yellow:hover,
.hover-light-yellow:focus, { color: var(--light-yellow); }
.hover-light-yellow-shade-1:hover,
.hover-light-yellow-shade-1:focus, { color: var(--light-yellow-shade-1); }
.hover-light-yellow-shade-2:hover,
.hover-light-yellow-shade-2:focus, { color: var(--light-yellow-shade-2); }
.hover-light-yellow-shade-3:hover,
.hover-light-yellow-shade-3:focus, { color: var(--light-yellow-shade-3); }
.hover-light-yellow-shade-4:hover,
.hover-light-yellow-shade-4:focus, { color: var(--light-yellow-shade-4); }
.hover-light-yellow-tint-1:hover,
.hover-light-yellow-tint-1:focus, { color: var(--light-yellow-tint-1); }
.hover-light-yellow-tint-2:hover,
.hover-light-yellow-tint-2:focus, { color: var(--light-yellow-tint-2); }
.hover-light-yellow-tint-3:hover,
.hover-light-yellow-tint-3:focus, { color: var(--light-yellow-tint-3); }
.hover-light-yellow-tint-4:hover,
.hover-light-yellow-tint-4:focus, { color: var(--light-yellow-tint-4); }
.hover-dark-pink:hover,
.hover-dark-pink:focus, { color: var(--dark-pink); }
.hover-dark-pink-shade-1:hover,
.hover-dark-pink-shade-1:focus, { color: var(--dark-pink-shade-1); }
.hover-dark-pink-shade-2:hover,
.hover-dark-pink-shade-2:focus, { color: var(--dark-pink-shade-2); }
.hover-dark-pink-shade-3:hover,
.hover-dark-pink-shade-3:focus, { color: var(--dark-pink-shade-3); }
.hover-dark-pink-shade-4:hover,
.hover-dark-pink-shade-4:focus, { color: var(--dark-pink-shade-4); }
.hover-dark-pink-tint-1:hover,
.hover-dark-pink-tint-1:focus, { color: var(--dark-pink-tint-1); }
.hover-dark-pink-tint-2:hover,
.hover-dark-pink-tint-2:focus, { color: var(--dark-pink-tint-2); }
.hover-dark-pink-tint-3:hover,
.hover-dark-pink-tint-3:focus, { color: var(--dark-pink-tint-3); }
.hover-dark-pink-tint-4:hover,
.hover-dark-pink-tint-4:focus, { color: var(--dark-pink-tint-4); }
.hover-light-grey:hover,
.hover-light-grey:focus, { color: var(--light-grey); }
.hover-light-grey-shade-1:hover,
.hover-light-grey-shade-1:focus, { color: var(--light-grey-shade-1); }
.hover-light-grey-shade-2:hover,
.hover-light-grey-shade-2:focus, { color: var(--light-grey-shade-2); }
.hover-light-grey-shade-3:hover,
.hover-light-grey-shade-3:focus, { color: var(--light-grey-shade-3); }
.hover-light-grey-shade-4:hover,
.hover-light-grey-shade-4:focus, { color: var(--light-grey-shade-4); }
.hover-light-grey-tint-1:hover,
.hover-light-grey-tint-1:focus, { color: var(--light-grey-tint-1); }
.hover-light-grey-tint-2:hover,
.hover-light-grey-tint-2:focus, { color: var(--light-grey-tint-2); }
.hover-light-grey-tint-3:hover,
.hover-light-grey-tint-3:focus, { color: var(--light-grey-tint-3); }
.hover-light-grey-tint-4:hover,
.hover-light-grey-tint-4:focus, { color: var(--light-grey-tint-4); }
.hover-beige:hover,
.hover-beige:focus, { color: var(--beige); }
.hover-beige-shade-1:hover,
.hover-beige-shade-1:focus, { color: var(--beige-shade-1); }
.hover-beige-shade-2:hover,
.hover-beige-shade-2:focus, { color: var(--beige-shade-2); }
.hover-beige-shade-3:hover,
.hover-beige-shade-3:focus, { color: var(--beige-shade-3); }
.hover-beige-shade-4:hover,
.hover-beige-shade-4:focus, { color: var(--beige-shade-4); }
.hover-beige-tint-1:hover,
.hover-beige-tint-1:focus, { color: var(--beige-tint-1); }
.hover-beige-tint-2:hover,
.hover-beige-tint-2:focus, { color: var(--beige-tint-2); }
.hover-beige-tint-3:hover,
.hover-beige-tint-3:focus, { color: var(--beige-tint-3); }
.hover-beige-tint-4:hover,
.hover-beige-tint-4:focus, { color: var(--beige-tint-4); }
.hover-navy:hover,
.hover-navy:focus, { color: var(--navy); }
.hover-navy-shade-1:hover,
.hover-navy-shade-1:focus, { color: var(--navy-shade-1); }
.hover-navy-shade-2:hover,
.hover-navy-shade-2:focus, { color: var(--navy-shade-2); }
.hover-navy-shade-3:hover,
.hover-navy-shade-3:focus, { color: var(--navy-shade-3); }
.hover-navy-shade-4:hover,
.hover-navy-shade-4:focus, { color: var(--navy-shade-4); }
.hover-navy-tint-1:hover,
.hover-navy-tint-1:focus, { color: var(--navy-tint-1); }
.hover-navy-tint-2:hover,
.hover-navy-tint-2:focus, { color: var(--navy-tint-2); }
.hover-navy-tint-3:hover,
.hover-navy-tint-3:focus, { color: var(--navy-tint-3); }
.hover-navy-tint-4:hover,
.hover-navy-tint-4:focus, { color: var(--navy-tint-4); }
.hover-charcoal:hover,
.hover-charcoal:focus, { color: var(--charcoal); }
.hover-charcoal-shade-1:hover,
.hover-charcoal-shade-1:focus, { color: var(--charcoal-shade-1); }
.hover-charcoal-shade-2:hover,
.hover-charcoal-shade-2:focus, { color: var(--charcoal-shade-2); }
.hover-charcoal-shade-3:hover,
.hover-charcoal-shade-3:focus, { color: var(--charcoal-shade-3); }
.hover-charcoal-shade-4:hover,
.hover-charcoal-shade-4:focus, { color: var(--charcoal-shade-4); }
.hover-charcoal-tint-1:hover,
.hover-charcoal-tint-1:focus, { color: var(--charcoal-tint-1); }
.hover-charcoal-tint-2:hover,
.hover-charcoal-tint-2:focus, { color: var(--charcoal-tint-2); }
.hover-charcoal-tint-3:hover,
.hover-charcoal-tint-3:focus, { color: var(--charcoal-tint-3); }
.hover-charcoal-tint-4:hover,
.hover-charcoal-tint-4:focus, { color: var(--charcoal-tint-4); }

.hover-bg-royal-blue:hover,
.hover-bg-royal-blue:focus, { color: var(--royal-blue); }
.hover-bg-royal-blue-shade-1:hover,
.hover-bg-royal-blue-shade-1:focus, { color: var(--royal-blue-shade-1); }
.hover-bg-royal-blue-shade-2:hover,
.hover-bg-royal-blue-shade-2:focus, { color: var(--royal-blue-shade-2); }
.hover-bg-royal-blue-shade-3:hover,
.hover-bg-royal-blue-shade-3:focus, { color: var(--royal-blue-shade-3); }
.hover-bg-royal-blue-shade-4:hover,
.hover-bg-royal-blue-shade-4:focus, { color: var(--royal-blue-shade-4); }
.hover-bg-royal-blue-tint-1:hover,
.hover-bg-royal-blue-tint-1:focus, { color: var(--royal-blue-tint-1); }
.hover-bg-royal-blue-tint-2:hover,
.hover-bg-royal-blue-tint-2:focus, { color: var(--royal-blue-tint-2); }
.hover-bg-royal-blue-tint-3:hover,
.hover-bg-royal-blue-tint-3:focus, { color: var(--royal-blue-tint-3); }
.hover-bg-royal-blue-tint-4:hover,
.hover-bg-royal-blue-tint-4:focus, { color: var(--royal-blue-tint-4); }
.hover-bg-mid-red:hover,
.hover-bg-mid-red:focus, { color: var(--mid-red); }
.hover-bg-mid-red-shade-1:hover,
.hover-bg-mid-red-shade-1:focus, { color: var(--mid-red-shade-1); }
.hover-bg-mid-red-shade-2:hover,
.hover-bg-mid-red-shade-2:focus, { color: var(--mid-red-shade-2); }
.hover-bg-mid-red-shade-3:hover,
.hover-bg-mid-red-shade-3:focus, { color: var(--mid-red-shade-3); }
.hover-bg-mid-red-shade-4:hover,
.hover-bg-mid-red-shade-4:focus, { color: var(--mid-red-shade-4); }
.hover-bg-mid-red-tint-1:hover,
.hover-bg-mid-red-tint-1:focus, { color: var(--mid-red-tint-1); }
.hover-bg-mid-red-tint-2:hover,
.hover-bg-mid-red-tint-2:focus, { color: var(--mid-red-tint-2); }
.hover-bg-mid-red-tint-3:hover,
.hover-bg-mid-red-tint-3:focus, { color: var(--mid-red-tint-3); }
.hover-bg-mid-red-tint-4:hover,
.hover-bg-mid-red-tint-4:focus, { color: var(--mid-red-tint-4); }
.hover-bg-light-yellow:hover,
.hover-bg-light-yellow:focus, { color: var(--light-yellow); }
.hover-bg-light-yellow-shade-1:hover,
.hover-bg-light-yellow-shade-1:focus, { color: var(--light-yellow-shade-1); }
.hover-bg-light-yellow-shade-2:hover,
.hover-bg-light-yellow-shade-2:focus, { color: var(--light-yellow-shade-2); }
.hover-bg-light-yellow-shade-3:hover,
.hover-bg-light-yellow-shade-3:focus, { color: var(--light-yellow-shade-3); }
.hover-bg-light-yellow-shade-4:hover,
.hover-bg-light-yellow-shade-4:focus, { color: var(--light-yellow-shade-4); }
.hover-bg-light-yellow-tint-1:hover,
.hover-bg-light-yellow-tint-1:focus, { color: var(--light-yellow-tint-1); }
.hover-bg-light-yellow-tint-2:hover,
.hover-bg-light-yellow-tint-2:focus, { color: var(--light-yellow-tint-2); }
.hover-bg-light-yellow-tint-3:hover,
.hover-bg-light-yellow-tint-3:focus, { color: var(--light-yellow-tint-3); }
.hover-bg-light-yellow-tint-4:hover,
.hover-bg-light-yellow-tint-4:focus, { color: var(--light-yellow-tint-4); }
.hover-bg-dark-pink:hover,
.hover-bg-dark-pink:focus, { color: var(--dark-pink); }
.hover-bg-dark-pink-shade-1:hover,
.hover-bg-dark-pink-shade-1:focus, { color: var(--dark-pink-shade-1); }
.hover-bg-dark-pink-shade-2:hover,
.hover-bg-dark-pink-shade-2:focus, { color: var(--dark-pink-shade-2); }
.hover-bg-dark-pink-shade-3:hover,
.hover-bg-dark-pink-shade-3:focus, { color: var(--dark-pink-shade-3); }
.hover-bg-dark-pink-shade-4:hover,
.hover-bg-dark-pink-shade-4:focus, { color: var(--dark-pink-shade-4); }
.hover-bg-dark-pink-tint-1:hover,
.hover-bg-dark-pink-tint-1:focus, { color: var(--dark-pink-tint-1); }
.hover-bg-dark-pink-tint-2:hover,
.hover-bg-dark-pink-tint-2:focus, { color: var(--dark-pink-tint-2); }
.hover-bg-dark-pink-tint-3:hover,
.hover-bg-dark-pink-tint-3:focus, { color: var(--dark-pink-tint-3); }
.hover-bg-dark-pink-tint-4:hover,
.hover-bg-dark-pink-tint-4:focus, { color: var(--dark-pink-tint-4); }
.hover-bg-light-grey:hover,
.hover-bg-light-grey:focus, { color: var(--light-grey); }
.hover-bg-light-grey-shade-1:hover,
.hover-bg-light-grey-shade-1:focus, { color: var(--light-grey-shade-1); }
.hover-bg-light-grey-shade-2:hover,
.hover-bg-light-grey-shade-2:focus, { color: var(--light-grey-shade-2); }
.hover-bg-light-grey-shade-3:hover,
.hover-bg-light-grey-shade-3:focus, { color: var(--light-grey-shade-3); }
.hover-bg-light-grey-shade-4:hover,
.hover-bg-light-grey-shade-4:focus, { color: var(--light-grey-shade-4); }
.hover-bg-light-grey-tint-1:hover,
.hover-bg-light-grey-tint-1:focus, { color: var(--light-grey-tint-1); }
.hover-bg-light-grey-tint-2:hover,
.hover-bg-light-grey-tint-2:focus, { color: var(--light-grey-tint-2); }
.hover-bg-light-grey-tint-3:hover,
.hover-bg-light-grey-tint-3:focus, { color: var(--light-grey-tint-3); }
.hover-bg-light-grey-tint-4:hover,
.hover-bg-light-grey-tint-4:focus, { color: var(--light-grey-tint-4); }
.hover-bg-beige:hover,
.hover-bg-beige:focus, { color: var(--beige); }
.hover-bg-beige-shade-1:hover,
.hover-bg-beige-shade-1:focus, { color: var(--beige-shade-1); }
.hover-bg-beige-shade-2:hover,
.hover-bg-beige-shade-2:focus, { color: var(--beige-shade-2); }
.hover-bg-beige-shade-3:hover,
.hover-bg-beige-shade-3:focus, { color: var(--beige-shade-3); }
.hover-bg-beige-shade-4:hover,
.hover-bg-beige-shade-4:focus, { color: var(--beige-shade-4); }
.hover-bg-beige-tint-1:hover,
.hover-bg-beige-tint-1:focus, { color: var(--beige-tint-1); }
.hover-bg-beige-tint-2:hover,
.hover-bg-beige-tint-2:focus, { color: var(--beige-tint-2); }
.hover-bg-beige-tint-3:hover,
.hover-bg-beige-tint-3:focus, { color: var(--beige-tint-3); }
.hover-bg-beige-tint-4:hover,
.hover-bg-beige-tint-4:focus, { color: var(--beige-tint-4); }
.hover-bg-navy:hover,
.hover-bg-navy:focus, { color: var(--navy); }
.hover-bg-navy-shade-1:hover,
.hover-bg-navy-shade-1:focus, { color: var(--navy-shade-1); }
.hover-bg-navy-shade-2:hover,
.hover-bg-navy-shade-2:focus, { color: var(--navy-shade-2); }
.hover-bg-navy-shade-3:hover,
.hover-bg-navy-shade-3:focus, { color: var(--navy-shade-3); }
.hover-bg-navy-shade-4:hover,
.hover-bg-navy-shade-4:focus, { color: var(--navy-shade-4); }
.hover-bg-navy-tint-1:hover,
.hover-bg-navy-tint-1:focus, { color: var(--navy-tint-1); }
.hover-bg-navy-tint-2:hover,
.hover-bg-navy-tint-2:focus, { color: var(--navy-tint-2); }
.hover-bg-navy-tint-3:hover,
.hover-bg-navy-tint-3:focus, { color: var(--navy-tint-3); }
.hover-bg-navy-tint-4:hover,
.hover-bg-navy-tint-4:focus, { color: var(--navy-tint-4); }
.hover-bg-charcoal:hover,
.hover-bg-charcoal:focus, { color: var(--charcoal); }
.hover-bg-charcoal-shade-1:hover,
.hover-bg-charcoal-shade-1:focus, { color: var(--charcoal-shade-1); }
.hover-bg-charcoal-shade-2:hover,
.hover-bg-charcoal-shade-2:focus, { color: var(--charcoal-shade-2); }
.hover-bg-charcoal-shade-3:hover,
.hover-bg-charcoal-shade-3:focus, { color: var(--charcoal-shade-3); }
.hover-bg-charcoal-shade-4:hover,
.hover-bg-charcoal-shade-4:focus, { color: var(--charcoal-shade-4); }
.hover-bg-charcoal-tint-1:hover,
.hover-bg-charcoal-tint-1:focus, { color: var(--charcoal-tint-1); }
.hover-bg-charcoal-tint-2:hover,
.hover-bg-charcoal-tint-2:focus, { color: var(--charcoal-tint-2); }
.hover-bg-charcoal-tint-3:hover,
.hover-bg-charcoal-tint-3:focus, { color: var(--charcoal-tint-3); }
.hover-bg-charcoal-tint-4:hover,
.hover-bg-charcoal-tint-4:focus, { color: var(--charcoal-tint-4); }
